bucket: your bucketname
region: ap-northeast-1
encrypt: true
prefix: your bucket prefix
acm_domain: your acm domain
base_domain: "your app base domain"
cloudfront_elb_pre_shared_key: "your pre shared key"
